/* .mobileNav {
  display: none;
}
.desktopNav {
  display: block;
} */

@media screen and (max-width: 767px) {
  .mobileNav {
    display: block;
  }
  .desktopNav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobileNav {
    display: none;
  }
  .desktopNav {
    display: block;
  }
}
